body{
    background-color:rgb(228,242,234);
    font-family: sans-serif;
}
nav{
    background-color: white;
    width:100%;
    height:70px;
    border:1px solid transparent;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
nav>div{
    width:70%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    margin-top: 15px;
    border:0px solid blue;
}
nav>div>div{
    display:flex;
    gap:30px;
    justify-content:space-between;
    align-items: center;
}
nav>div>div>a+a{
    margin-left:-70px;
    margin-right: 70px;
    text-decoration: none;
    font-size: 13px;
    color:rgb(172,172,172);
    font-weight: bold;
}
nav>div>div>a>img{
    width:60%;
}
nav>div>a{
    text-decoration: none;
    font-size: 13px;
    color:rgb(172,172,172);
    font-weight: bold;
    margin-top: 10px;
}

#reset-container{
    width:33%;
    margin:auto;
    margin-top:70px;
}
#reset-container>h1{
    font-size: 40px;
    font-weight: 700;
    color:rgb(17,71,71);
}
#reset-container>p{
    font-size: 16px;
    color:rgb(131,137,134);
    margin-top: -10px;
    line-height: 25px;
    margin-bottom: 40px;
}
input{
    margin-left: 20px;
    height:30px;
    width:290px;
    border-radius: 5px;
    border:1px solid grey
}
#reset-container>a>button{
    background-color: rgb(102,102,102);
    border-radius: 5px;
    border:none;
    color:white;
    font-weight: bold;
    padding:10px 20px 10px 20px;
    margin-left: 10px;
}
#reset-container>a>button:hover{
    cursor: pointer;
}