



/* leadeerhip page css  */

#toppart{
    padding-top: 40px;
    text-align: center;
   
    height: 200px;
    margin-top: 60px;
    background-color: #174c43; color: white;
    
 }
 h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 44px;
    font-weight: 800;
 }
 h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
 }

#leaders{
    text-align: center;
    padding: 220px;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 30px;
    row-gap: 20px;
    height: auto;

background-color: #e8f8f2;
}

img{
    width:70%;
    border-radius: 50%;
    height: 54%;
}
.leaders_details a h2{
color: #174c43;
background-color: transparent;
text-decoration: none;
margin-bottom: 0px;
font-family: 'Noto Sans', sans-serif;
font-size: 22px;
font-weight: 700;

}
.leaders_titel{
    font-family: 'Noto Sans', sans-serif;
    color: #00c66b;
    font-size: 16px;
}
.leaders_details>p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    color: #5f5f5f;
    font-size: 16px;
    line-height: 24px;
}
strong{
    color: #00c66b;
}
/* our team css */
#ourteam{
    padding:30px;
    background-color: #174c43;
    display: grid;
    
    height: auto;
}
#ourteam>div{
    margin: auto;
    width: 60%;
    height: 200px;
   
}
#ourteam>div>h1{
   
    font-size: 35px;
    width: 90%;
    margin-top: 0px;
    padding-bottom: 20px;
    font-family: ProximaNova, sans-serif;
    color: #00c66b;
    font-size: 34px;
    line-height: 36px;
    text-align: left;
}

#ourteam>div>h2{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-align: left;
    display: block;
    padding-top: 0px;

}

#quteimg{
    position: static;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: inline-block;
    width: 8%;
    height: auto;
    max-width: none;
    margin: -90px ;
    margin-left: 100px;
}
#ourteam>div:nth-child(3){
    display: flex ;
   
}
.lastbox{
   
    width: auto;
    height: auto;
    
}
#crimg{
    width: 150px;
    height: 150px;
}
.lastbox>h2{
    margin-left: 170px;
    margin-top: -100px;

}
.lastbox>p{
    margin-left: 170px;
    color: #fff;
    margin-top: -10px;
}
#limg{
    width: 150px;
    height: 50px;
    border-radius: 0px;
    margin-top: 60px;
    margin-left: 200px;
}


/* bootom seection */


  