body{
    font-family: sans-serif;
    background-color: rgb(247,249,251);
}
#login-container{
    width:35%;
    margin:auto;
    border:0px solid red;
    margin-top: 150px;
}
#login-container>h1{
    font-size: 40px;
    font-weight: 500;
    color:rgb(48,68,85);
}
#login-container>#sign{
    font-size: 20px;
    font-weight: 300;
    color:rgb(48,68,85);
    margin-top: -20px;
}
form{
    margin:auto;
}
input[type="email"], input[type="password"]{
    width:90%;
    margin-top:10px;
    margin-bottom: 20px;
    height:30px;
    border-radius: 5px;
    border:0.5px solid grey;
}
#logged{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}
#logged>div{
    background-color: rgb(130,208,173);
    padding:10px 30px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
#logged>div:hover{
    cursor: pointer;
    background-color: rgb(6,165,78);
  
}
#logged>a{
    text-decoration: none;
}
#logged>a:hover{
    border:1px solid black;
    border-radius: 5px;
}
#logged>a>div{
    padding:10px 30px;
    text-decoration: none;
    color: black;
}
#sign{
    font-size: 12.8px;
    margin-bottom: 30px;
}
#sign>a{
    text-decoration: none;
    color:rgb(6,165,78);
}
#sign>a:hover{
    text-decoration: underline;
}