
/* press and News page css */


  #presstop{
    text-align: center;
    margin-top: 70px;
   
    height: 200px;
    background-color: #174c43;
}
#presstop>h1{
    padding-top: 60px;
    font-size: 50px;
    color: white;
}
h2{
    font-size: 32px;
    margin-left: 290px;
    color: #174c43;
    line-height: 36px;
}

#newsdiv{
  
    width: 60%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,ifr);
    grid-template-rows: repeat(16,1fr);
    row-gap: 20px;
}
/* .newsclass{
    border: 1px solid green;
} */
.newsclass>h4{
    margin: 16px auto 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #00c66b;
    font-size: 19px;
    font-weight: 600;

}
.newsclass a{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Noto Sans', sans-serif;
    color: #2d2d2d;
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    text-decoration: none;

}
.newsclass >h5{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #2d2d2d;
    font-weight: 600;

}
a:hover{
    text-decoration: underline;
    color: #00c66b;
}
/* #mediainq{
    padding-top: 50px;
    margin-top: 40px;
    border: 0px solid black;
    height: 200px;
    background-color:#e8f8f2;;
    background-image:  linear-gradient(to bottom, rgba(255, 255, 252, 0.5), rgba(223, 223, 223, 0.5)),
   url('https://global-uploads.webflow.com/5fd3c52ce5bc147a1f007ca4/5fecf40bea5148a41aa207a7_pattern-light.svg');
}
#mediainq>div{
    margin: auto;
    margin-top: 70px;
   padding-top: 10px;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    background-color: white;
}
#mediainq>div>h3{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: -10px;

}
#mediainq>div>a h3{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-top: 10px;
} */


#fooder{
display: grid;

height: 850px;
}
#fooder>div:nth-child(2){
height: auto;

}
.boxx{
display: flex;
height: 200px;

}
.mediaboxx>div{
border: 1px solid wheat;
width: 300px;
margin: auto;
margin-top: 60px;
border-radius: 10px;
background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


#fooder>div:nth-child(1){
display: grid;
height: 250px;
text-align: center;
background-image:  linear-gradient(to bottom, rgba(255, 255, 252, 0.5), rgba(223, 223, 223, 0.5)),
url('https://global-uploads.webflow.com/5fd3c52ce5bc147a1f007ca4/5fecf40bea5148a41aa207a7_pattern-light.svg');
background-color: #e8f8f2;
border: 1px none #000;
}


#fooder>div:nth-child(3){
display: grid;
}
#fooder>div:nth-child(3)>div{
width: 100%;
height: 99px;
}

#d1>div:nth-child(1) img{
height: 150px;
width: 150px;
margin-left: 90px;



}


#d1>div:nth-child(2) img{
margin-top: 60px;
height: 30px;
width: 30px;
}
#d2{
background-color: #174c43;
}

button:hover{
background-color: #00c66b;
}

/*  fooder section css */
#btsection>div,#d1{
display:flex;

width: 80%;
height: auto;
margin: auto;
justify-content: space-between;
margin-top:20px


}

.btnclass{
width: 20%;
height: auto;
}
button{
cursor: pointer;
border: 0px;
background-color: transparent;
font-family: 'Mark simonson proxima nova', sans-serif;
color: #7d7d7d;
font-size: 14px;
text-decoration: none;
}
h7{
color: hsla(0, 0%, 100%, 0.5);


}