@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
#top-div{
    border: 2px solid;
    padding: 50px;
    line-height: 30px;
    background-color: #174c43;
    color: white;
    text-align: center;
}
#bottom-div{
    text-align: center;
    background-color: #e8f8f2;
    padding: 50px;
}
#bottom-div a>button{   
    padding: 10px;
    border: 2px solid #00c66b;
    background-color: #fff;
    font-weight: bold;
    color: #00c66b;
}
#bottom-div a>button:hover{
    color: #fff;
    background-color: #00c66b;
}


#container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 50px;
    text-align: center;
    margin: 50px auto;
}
img{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.card div{
    padding:0 20px;
}