@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

#top-div{
    padding: 20px 0;
    background-color: #174c43;
    text-align: center;
    color: white;
}
#mid-div{
    display: flex;
    margin: auto;
    background-color: #e8f8f2;
}
#mid-div>div{
    width: 40%;
    margin: 40px auto 0 auto;
}
b{
    color: #00c66b;
}
p{
    line-height: 25px;
}

#signUp_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px; 
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#signUp_div button{
    background-color: #0445af;
    color: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 30px;
    font-size: 15px;
    border: 0;
}
#bottom-div{
    text-align: center;
    background-color: #e8f8f2;
    padding: 20px;
}
a>button{
    padding: 10px;
    border: 2px solid #00c66b;
    background-color: #fff;
    font-weight: bold;
    color: #00c66b;
}
a>button:hover{
    color: #fff;
    background-color: #00c66b;
}

@media (max-width:800px){
    #mid-div{
        display: flex;
        flex-direction: column;
    }
    #mid-div>div{
        width: 80%;
    }
}