#footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 20px;
}
.fsublist{
    margin-bottom: 20px;
}

#bottom_links{
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px;
    height: 50px;
}
#bottom_links img{
    width: 120px;
}

#social img{
    width: 27px;
    margin: 5px;
}

.fsublist a{
    line-height: 25px;
    color: #7d7d7d;
}

.fsublist li{
    margin-left: -30px;
}

#terms{
    background-color: #174c43;
    color: #ffffff80;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}